<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="layouts.css" rel="stylesheet">
	<title>Layouts</title>
</head>

<body>
	<section class="container basis-numero-container">
		<div></div>
		<div class="item column" style="text-align: left">logo</div>
		<div class="item2 column">Navigation</div>
		<div class="item3" font-size=""><span>Header/Banner</span></div>
		<div class="item4"><span>Side Body</span></div>
		<div class="item5"><span>Bar Area</span></div>
		<div class="item6">Footer</div>
	</section>

	<h1>display: flex;</h1>
	<section class="container basis-numero-container">
		<div class="item">Logo Navigation</div>
		<div class="item">Header/Banner</div>
		<div class="item">3</div>
		<div class="item">4</div>
	</section>



</body>

</html>